body {
    margin: 0;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.nav {
    opacity: 0.75;
    transition: opacity 1s;
}

#gamburger {
    display: none;
    color: azure;
    float: right;
    font-size: 3em;
    margin: 10px;
    padding: 10px;
}

#newMenu {
    background-color: black;
    display: none;
    height: 100vh;
    margin: 80px 0;
}

.newNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newNav li {
    margin: 0 auto;
}

.newNav li a {
    font-family: 'Handlee', cursive;
    font-size: 40px;
    color: azure;
    text-decoration: none;
}

.newNav li a:hover {
    color: aqua;
}

#logo {
    margin: 10px;
    padding: 10px;
    float: left;
}

#logo a {
    color: azure;
    font-family: 'Ruthie', cursive;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    float: right;
    margin: 15px 10px;
    padding: 10px;
}

.navigation li a {
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: azure;
    text-decoration: none;
}

.navigation li a:hover {
    color: aqua;
}

.header {
    display: flex;
}

section {
    height: 90vh;
    padding: 77px 25px 25px 25px;
}

#firstSection {
    background-image: url('images/blackf.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right 95%;
}

#secondSection {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.link-btn {
    color: azure;
    background: black;
    padding: 20px 30px;
    border-radius: 2em;
    text-decoration: none;
    margin: 300px 350px;
}

.slider {
    height: 100%;
    white-space: nowrap;
    transform: translateX(0);
    transition: all 1s;
}

.slider-text {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -440px;
}

.slide {
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#slide-0 {
    background-image: url('images/office.jpeg');
}

#slide-1 {
    background-image: url('images/sneg.jpg');
}

#slide-2 {
    background-image: url('images/kids.jpg');
}

#thirdSection {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-image: url("images/forest.jpeg");
    background-attachment: fixed;
    background-size: cover;
    border-radius: 50%;
    font-size: 13em;
    color: azure;
}

h1 {
    font-family: 'Ruthie', cursive;
    text-align: left;
    font-size: 180px;
    padding-left: 60px;
}

p,
h2 {
    font-family: 'Handlee', cursive;
}

#product {
    font-size: 70px;
    font-weight: bold;
}

.paragraph {
    text-align: center;
    width: 50%;
    margin: 100px 0;
    font-size: 25px;
}

#fourthSection {
    display: flex;
    background-image: url("images/team.jpeg");
    background-size: cover;
}

#fifthSection {
    position: relative;
    display: flex;
    background-image: url("images/ink.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right 90%;
}

.team {
    text-align: center;
    font-size: 25px;
}

h2 {
    margin: 0;
}

.customer {
    width: 50%;
    overflow: hidden;
}

img {
    margin: 35px 40px;
    width: 80%;
    border-radius: 50%;
}

.review {
    text-align: left;
    width: 50%;
    margin: 75px 0;
    font-size: 25px;
}

.arrow {
    font-size: 5em;
    position: absolute;
    top: 53%;
}

.arrow:hover {
    cursor: pointer;
    color: aqua;
}

#right {
    left: 80%
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-align: right;
    background-color: black;
}

footer a {
    color: azure;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
}

#tel,
#mail {
    color: azure;
    font-family: 'Handlee', cursive;
    font-size: 17px;
}

.contacts-links {
    display: flex;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 850px) {
    #gamburger {
        display: block;
    }
    .navigation {
        display: none;
    }
    footer {
        flex-direction: column;
    }
}